.product-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr; 
}

.product-list .salom {
	grid-column-start: 1;
	grid-column-end: 3;
}

.product-list .milli {
	grid-column-start: 3;
}

.product-list .shop {
	grid-column-start: 1;
	grid-column-end: 4;
}